Source: carta-frontend
Section: science
Priority: optional
Maintainer: Adrianna Pińska <adrianna.pinska@gmail.com>
Build-Depends: debhelper (>=11~)
Standards-Version: 4.1.4
Homepage: https://github.com/CARTAvis/carta-frontend
Vcs-Browser: https://github.com/idia-astro/carta-frontend-deb
Vcs-Git: https://github.com/idia-astro/carta-frontend-deb.git

Package: carta-frontend
Architecture: all
Depends: ${misc:Depends}
Conflicts: carta-frontend-beta
Description: CARTA - Cube Analysis and Rendering Tool for Astronomy
 CARTA is a next generation image visualization and analysis tool designed for ALMA, VLA, and SKA pathfinders.
 .
 This package provides the frontend component.
